<h2>BillingDetails</h2>
<div>
    <div *ngIf = let billingdetail of billingdetails>
        <p>
            firstname : {{billingdetails.firstname}}
        </p>
        <p>
            lastname : {{billingdetails.lastname}}
        </p>
        <p>
            address : {{billingdetails.address}}
        </p>
        <p>
            city : {{billingdetails.city}}
        </p>
        <p>
            state : {{billingdetails.state}}
        </p>
        <p>
            postcode : {{billingdetails.postcode}}
        </p>
        <p>
            mobileno: {{billingdetails.mobileno}}
        </p>
        <p>
           emailaddress : {{billingdetails.emailaddress}}
        </p>
        <p>
            ordernotes : {{billingdetails.ordernotes}}
        </p>

    </div>
</div>